<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="@Url.Action("Index", "Home")">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-dumbbell"></i></div>
            <div class="sidebar-brand-text mx-3"><span>FitLab</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Dashboard","Home")"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","Bills")"><i class="fas fa-money-bill-wave"></i><span>Bills</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","Purchases")"><i class="fas fa-shopping-cart"></i><span>Purchases</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Stock","Items")"><i class="fas fa-shopping-basket"></i><span>Stock</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("AddUser","Users")"><i class="fas fa-user-plus"></i><span>Add User</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","Users")"><i class="fas fa-table"></i><span>List of Users</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("ManageClass","Classes")"><i class="fas fa-plus-square"></i><span>Manage Class</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","Classes")"><i class="fas fa-swimmer"></i><span>Classes</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","Diet")"><i class="fas fa-drumstick-bite"></i><span>Diet Plan</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Diets","Diet")"><i class="fas fa-drumstick-bite"></i><span>Add Diet</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","Workout")"><i class="fas fa-heartbeat"></i><span>Workout Plan</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Workouts","Workout")"><i class="fas fa-heartbeat"></i><span>Add Workout</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","MembershipPlans")"><i class="fas fa-credit-card"></i><span>Membership Plans</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("ContactUs","Home")"><i class="fas fa-address-book"></i><span>Contact Us</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>